{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>수정중...</h2>
<form action="{% url 'main:update' blog.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<p>제목: <input type="text" name="title" value="{{blog.title}}"></p>
<p>작성자: <input type="text" name="writer" value="{{blog.writer}}"></p>
{% if blog.image %}
    <p><img src="{{ blog.image.url }}" alt="사진" width="100px"></p>
{% endif %}
<p>사진: <input type="file" name="image"></p>
<p>내용: <textarea type="text" name="content" id="" cols="30" rows="10">{{blog.content}}</textarea></p>
<button type="submit">제출</button>
</form>
{% endblock %}